# --- Only integration developers ---
*  @myparcelnl/integration

# --- Both integration and frontend developers ---
*.js    @myparcelnl/integration @myparcelnl/frontend
*.ts    @myparcelnl/integration @myparcelnl/frontend
*.json  @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend
